/* Font family import */
@font-face {
  font-family: 'GetSchwifty-Regular';
  src: url('../fonts/GetSchwifty-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* css variables */
:root {
  --violete: #cb9dbf;
  --orange: #da766e;
  --clear-blue: #05d1ff;
  --light-blue: #c1e8ec;
  --text-blue: #29acc0;
}

/* General styles */
header {
  width: 100%;
  background-color: var(--light-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button {
  min-width: 44px;
  min-height: 44px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.bx {
  font-size: 2em;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #05d1ff71;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #05d1ff71;
}

/* Home styles */
.title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 10px;
}
.title__img {
  width: 100%;
  max-width: 300px;
}
.title__subtitle {
  font-family: 'GetSchwifty-Regular';
  text-align: center;
  max-width: 300px;
  width: 100%;
  color: var(--text-blue);
  margin-bottom: 10px;
}
.hamburguer {
  border: none;
  background-color: transparent;
  margin-left: 10px;
}
.main {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url('https://i.ibb.co/4fTcqq5/rick.jpg');
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-bar {
  position: absolute;
  width: 320px;
  height: 100vh;
  background: linear-gradient(
    to right bottom,
    rgba(203, 157, 191, 1),
    rgba(203, 157, 191, 0.6)
  );
  z-index: 2;
  left: -100%;
  overflow-y: scroll;
}
.side-bar__buttons {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.side-bar__buttons-page {
  color: var(--text-blue);
  font-size: 1.4em;
  font-weight: bold;
}
.side-bar__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.side-bar__episode {
  margin: 5px 0;
  text-align: left;
  width: 80%;
}
.side-bar__episode-name {
  padding-bottom: 5px;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--text-blue);
}
.side-bar__episode-episode {
  padding-top: 5px;
}
.content {
  /* todo añadir animacion para width y height tras cambiar el display */
  width: 0%;
  height: 0%;
  background: linear-gradient(
    to right bottom,
    rgba(5, 209, 255, 0.7),
    rgba(5, 209, 255, 0.4)
  );
  backdrop-filter: blur(1.5rem);
  border-radius: 30px;
  position: absolute;
  top: 80px;
}

/* Keyframes styles */
@keyframes showModal {
  0% {
    width: 0%;
    height: 0%;
  }
  100% {
    width: 80%;
    height: 80%;
  }
}
@keyframes hiddeModal {
  0% {
    width: 80%;
    height: 80%;
  }
  100% {
    width: 0%;
    height: 0%;
  }
}
