/* Font family import */
@font-face {
  font-family: 'GetSchwifty-Regular';
  src: url('../fonts/GetSchwifty-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* css variables */
:root {
  --violete: #cb9dbf;
  --orange: #da766e;
  --clear-blue: #05d1ff;
  --light-blue: #c1e8ec;
  --text-blue: #29acc0;
}

/* General styles */
header {
  width: 100%;
  background-color: var(--light-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button {
  min-width: 44px;
  min-height: 44px;
  cursor: pointer;
}
.bx {
  font-size: 2em;
}

/* Home styles */
.title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 10px;
}
.title__img {
  width: 100%;
  max-width: 300px;
}
.title__subtitle {
  font-family: 'GetSchwifty-Regular';
  text-align: center;
  max-width: 300px;
  width: 100%;
  color: var(--text-blue);
  margin-bottom: 10px;
}
.hamburguer {
  border: none;
  background-color: transparent;
  margin-left: 10px;
}
.main {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url('https://i.ibb.co/4fTcqq5/rick.jpg');
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-bar {
  position: absolute;
  width: 320px;
  height: 100vh;
  background: linear-gradient(
    to right bottom,
    rgba(203, 157, 191, 1),
    rgba(203, 157, 191, 0.6)
  );
  z-index: 2;
  left: -100%;
}
.content {
  width: 80%;
  height: 80%;
  background: var(--light-blue);
  background: linear-gradient(
    to right bottom,
    rgba(5, 209, 255, 0.7),
    rgba(5, 209, 255, 0.4)
  );
  backdrop-filter: blur(1.5rem);
  border-radius: 30px;
  display: none;
}
